#game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
}
.other-players{
  /* height: 30%; */
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid black 1px;
  border-radius: 10px;
}
.other-players > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  font-size: 30px;
}
.other-players .cardContain{
  width: 90%;
}
.other-players .player-name{
  text-align: center;
}

.battle-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 30%;
  border: solid black 1px;
  border-radius: 10px;
}

.attribute{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  font-size: 30px;
}
.attribute span{
  margin: 10px 30px 0px 30px;
}


.piles-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid black 1px;
  border-radius: 10px;
  width: 100%;
}
.piles-area .pile-with-name span{
  font-size: 20px;
}
.piles-area .pile-with-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 10%;
}
.piles-area .pile-with-name:nth-child(1) {
  width: 30%;
}
.piles-area .pile-with-name:nth-child(2) {
  width: 20%;
}
.piles-area .pile-with-name .cardContain {
  width: 100%;
}





.player-area {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 10px;

}

.button-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-size: 35px;
  background-color: greenyellow;
  border-radius: 10px;
  margin: 30px 40px;
  padding: 5px 5px;
}

.card {
  width: 105px;
  height: 150px;
  background-size: cover;
  background-position: left;
  background-clip: padding-box;
  background-repeat: no-repeat;
  /* border: 1px blue solid; */
  border-right: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  transition: 200ms;
  overflow:visible;
  position: relative;
  margin-left: -50px;
  /* flex-shrink:0; */
}

.select {
  transition: 200ms;
  transform: translateY(-20px);
}

/* 手牌展示区域 */
.cardContain {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  border-radius: 10px;
  height: 150px;
  padding-left: 50px;
}

.player-active{

}

.folded {
  position: absolute;
  /* left: 0;
  top: 0; */
}

.hide{
  display: none;
}

.link{
  /* width: 95%; */
  display: flex;
  position: fixed;
  justify-content:space-around ;
  align-items: center;
  top: 0;
}
.link a{
  margin: 0 30px;
  font-size: 30px;
  
}